* {
    margin: 0;
    padding: 0;
}
body{
    /*padding:30px 20px;*/
}
#left{
    background-color: grey;
    line-height: 5em;
    padding-left:20px;
    color:white;
}
#left ,.content{
   /* margin-bottom: 40px;*/
}
.clearfix{
    overflow: auto;
}
.content{
    border: 1px solid gainsboro;
    margin-bottom: 1px;
    overflow: hidden;
}
.content .inline{
    display: inline-block;
    float:left;
    margin-right:40px;
}
.content h2{
    display: block;
    float:left;
    width:6em;
    height:6em;
    text-align: center;
    line-height: 6em;
    background-color: gainsboro;
}
.content .block b,
.content .block p{
    display: inline-block;
}